.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: collapse;
    opacity: 0;
    transition: all 0.5s ease;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}