@import url('./__edit-form/popup__edit-form.css');
@import url('./__close-btn/popup__close-btn.css');

.popup {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}