.profile__edit-button {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../img/icons/edit-icon-curve.svg');
    padding: 0;
    border: solid 1px #fff;
    margin-left: 8px;
    cursor: pointer;
}

@media (max-width: 760px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 4px;
    }
}

.profile__edit-button:hover {
    opacity: .6;
    transition: opacity linear .2s;
}

.profile__edit-button:focus {
    outline: thin;
}