.popup-image__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: #fff;
    text-align: left;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}