.form__btn {
    width: 100%;
    height: 50px;
    background-color: #000;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #fff;
}

.form__btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: background-color .2s linear;
}