.places__container {
    width: 100%;
    max-height: 2350px;
    overflow: hidden;
/*    overflow-y: scroll; */ 
    display: grid;
    padding: 0;
    margin: 0;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    gap: 16px;
}
    /*Елизавета, скажите, а это вообще нормальная практика так scrollbar прятать?)
.places__container::-webkit-scrollbar {
    width: 0;
} */