.footer__copyright {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #545454;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 480px) {
    .footer__copyright {
        font-size: 14px;
    }
}
