@import url('./__avatar/profile__avatar.css');
@import url('./__info-container/profile__info-container.css');
@import url('./__add-container/profile__add-container.css');
@import url('./__title-wrap/profile__title-wrap.css');
@import url('./__title/profile__title.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__profession/profile__profession.css');
@import url('./__add-button/profile__add-button.css');

.profile {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

@media (max-width: 960px) {
    .profile {
        flex-direction: column;
    }
}
 