.profile__title-wrap {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

@media (max-width: 960px) {
    .profile__title-wrap {
        justify-content: center;
    }
}
