.popup-form__close-btn {
    position: absolute;
    top: -24px;
    right: -24px;
    font-family: serif;
    font-weight: 400;
    font-size: 46px;
    line-height: .6;
    border: none;
    color: #fff;
    background: none;
    padding: 0;
    transform: rotate(45deg);
    cursor: pointer;
}

.popup-form__close-btn:hover {
    color: rgba(255, 255, 255, 0.6);
    transition: color .2s linear;
}

.popup-form__close-btn:focus {
    outline: none;
}