@import url('./__img/popup-image__img.css');
@import url('./__title/popup-image__title.css');

.popup-image {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .5s ease;
    position: absolute;
}
