.profile__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.33;
    color: #fff;
    margin: 0 0 16px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 960px) {
    .profile__title {
        font-size: 28px;
        margin-bottom: 0;
    }
}