.form__input-container {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0 0 48px 0;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .form__input-container  {
        margin-bottom: 32px;
    }
}