.form__error {
    margin: 4px 0;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: #f00;
    z-index: 2;
}