@import url('./_type/popup-form_type_card-edit.css');
@import url('./_type/popup-form_type_profile-edit.css');


.popup-form {
    box-sizing: border-box;
    position: absolute;
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 36px;
    transition: visibility 0s, opacity .5s ease;
    z-index: 99;
}

@media (max-width: 520px) {
    .popup-form {
        width: 240px;
        padding: 30px 20px;
    }
}