.profile__title-wrap {
    width: 100%;
    display: flex;
    /* Ролан, спасибо за похвалу - очень приятно, первый раз настолько гладко все)
    буду пока решать задачки по js, а выравнивание перенесу на саму кнопку*/
    justify-content: flex-start;
}

@media (max-width: 960px) {
    .profile__title-wrap {
        justify-content: center;
    }
}
