@import url('./__copyright/footer__copyright.css');

.footer {
    max-width: 880px;
    padding: 66px 0 20px 0;
    text-align: left;
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    .footer {
        padding: 48px 0 16px 0;
        margin: 0 40px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        margin: 0 20px;
    }
}
