.profile__avatar {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    align-self: center;
    justify-self: center;
}

@media (max-width: 960px) {
    .profile__avatar {
        margin-bottom: 16px;
    }
}

