.places__trash-btn {
    width: 18px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url('../../../img/icons/trash-icon-curve.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

.places__trash-btn:hover {
    opacity: .6;
    transition: opacity linear .2s;
}
