.form__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.33;
    color: #000;
    margin: 0 0 54px 0;
    text-align: left;
}

@media (max-width: 960px) {
    .form__title  {
        font-size: 18px;
        margin-bottom: 36px;
    }
}