.close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('../../../img/icons/add-icon-curve.svg');
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-size: contain;
    top: -40px;
    right: -40px;
    border: none;
    padding: 0;
    cursor: pointer;
    transform: rotate(45deg);
}

.close-btn:hover {
    opacity: .6;
    transition: opacity linear .2s;
}

.close-btn:focus {
    outline: thin;
}


@media (max-width: 520px) {
    .close-btn {
        width: 20px;
        height: 20px;
        top: -20px;
        right: -20px;
    }
}