@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/content/content.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/places/places.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/close-btn/close-btn.css');
@import url('../blocks/popup-image/popup-image.css');
@import url('../blocks/popup-form/popup-form.css');
@import url('../blocks/form/form.css');
@import url('../blocks/popup/_opened/popup_opened.css');

