.popup__edit-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    min-height: 50%;
    margin-left: -25%;
    margin-top: -25%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}