.profile__info-container {
    width: calc(100% - 270px);
    justify-self: start;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
}

@media (max-width: 960px) {
    .profile__info-container {
        width: 100%;
        align-items: center;
        padding: 0;
        margin-bottom: 36px;
    }
}