.form__btn_disabled {
    background-color: #fff;
    border: 1px solid #000000;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.2;
    cursor: default;
    pointer-events: none;
}
