@import url('./__container/places__container.css');
@import url('./__card/places__card.css');
@import url('./__card-image/places__card-image.css');
@import url('./__description-wrap/places__description-wrap.css');
@import url('./__card-title/places__card-title.css');
@import url('./__likes-wrap/places__likes-wrap.css');
@import url('./__like-button/places__like-button.css');
@import url('./__like-counter/places__like-counter.css');
@import url('./__trash-btn/places__trash-btn.css');
@import url('./__like-button/_state_clicked/places__like-button_state_clicked.css');

.places {
    width: 100%;
}