.header {
    box-sizing: border-box;
    max-width: 880px;
    margin: 0 auto 40px auto;
    padding-top: 44px;
    padding-bottom: 40px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1200px) {
    .header {
        max-width: calc(100% - 120px);
    }
}

@media screen and (max-width: 480px) {
    .header {
        max-width: 100%;
        padding-top: 28px;
        padding-bottom: 32px;
        margin: 0 0 40px 0;
    }
}
