.content {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;
    padding: 0 200px
}

@media (max-width: 1200px) {
    .content {
        row-gap: 36px;
        padding: 0 60px;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 0 20px;
    }
}

